@media (max-width: 1350px) {
	.home-friends {
		.swiper-pagination {
			display: block;
		}
		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
	}
}
@media (max-width: 1200px) {
	.intro {
		&__items-wrapper {
			width: calc(100% - 30px);
			max-width: none;
			left: 15px;
			right: 15px;
		}
	}
}

@media (max-width: 1024px) {
	.header {
		&__img {
			max-width: 70px;
			margin-right: 10px;
		}
		&__text {
			font-size: 20px;
		}
		&__socials {
			margin-right: 30px;
		}
		&__phone {
			a {
				font-size: 20px;
			}
		}
		&__menu {
			width: 50px;
			height: 50px;
			margin-left: 25px;
		}
	}
	.intro {
		//padding-bottom: 85px;
		&__text,
		&__picture {
			flex: 1;
			width: 100%;
		}
		&__numbers {
			line-height: 1.2;
		}
		&__items-wrapper {
			bottom: auto;
			top: calc(100% - 110px);
		}
	}
	.video {
		&__body {
			flex-direction: column-reverse;
		}
		&__content {
			flex: 0 1 auto;
		}
	}
	.dispatch {
		text-align: left;
		&__content {
			display: flex;
			justify-content: space-between;
		}
		&__body {
			margin-right: 30px;
		}
		form {
			margin: 0 auto 30px 0 ;
		}
		&__picture {
			position: static;
			max-width: 270px;
		}
	}
	.footer {
		&__logo {
			//flex: 1;
		}
		&__socials {
			max-width: 166px;
		}
	}
}

@media (max-width: 768px) {
	.container {
		padding: 0 8px;
	}
	.section {
		padding: 35px 0;
	}
	.section-title {
		margin-bottom: 30px;
	}
	.header {
		&__body {
			flex-wrap: wrap;
		}
		&__logo {
			order: 1;
		}
		&__img {
			max-width: 80px;
			margin-right: 20px;
		}
		&__actions {
			order: 3;
			width: 100%;
			justify-content: center;
		}
		&__text {
			font-size: 18px;
			span {
				font-size: 24px;
			}
		}
		&__socials {
			margin-right: 15px;
			//gap: 10px;
		}
		&__buttons {
			order: 2;
		}
	}
	.intro {
		padding-top: 25px;
		//padding-bottom: 35px;
		margin-bottom: 25px;
		&__title {
			margin-bottom: 30px;
		}
		&__body {
			flex-direction: column;
		}
		&__text {
			p {
				line-height: 1.7;
			}
		}
		&__items {
			flex-wrap: wrap;
			gap: 4%;
		}
	}
	.intro-item {
		flex: 0 1 48%;
		margin-bottom: 4%;
	}
	.day-tale {
		
		&__body {
			flex-direction: column;
		}
		
		&__text {
			max-width: none;
		}
		&__link {
			margin: 0 auto;
		}
	}
	.help-card {
		flex: 0 1 49%;
		max-width: none;
	}
	.home-friends {
		padding-bottom: 70px;
	}
	.dispatch {
		text-align: center;
		&__content {
			display: flex;
			justify-content: space-between;
		}
		&__body {
			margin-right: 0;
			width: 100%;
		}
		&__title {
			font-size: 24px;
		}
		form {
			margin: 0 auto 30px;
		}
		&__picture {
			display: none;
			
		}
	}
	.footer {
		&__img {
			max-width: 70px;
		}
		&__text {
			font-size: 20px;
		}
		&__middle {
			flex-wrap: wrap;
			max-width: 500px;
			width: 100%;
			margin: 0 auto;
		}
		&__col {
			//max-width: 390px;
			flex: 0 1 180px;
			margin-bottom: 30px;
			//margin: 0 11% 30px;
		}
		&__bottom {
			flex-direction: column;
			text-align: center;
		}
		&__copy {
			margin-bottom: 15px;
			width: 100%;
			p {
				text-align: center;
			}
		}
		&__police {
			width: 100%;
		}
	}
	.news-card {
		&__body {
			padding: 15px 5px;
		}
	}
}

@media (max-width: 600px) {
	.header {
		//&__body {
		//	flex-direction: column;
		//}
		&__actions {
			order: 2;
			width: auto;
			justify-content: center;
			flex-direction: column;
		}
		&__text {
			font-size: 18px;
			span {
				font-size: 24px;
			}
		}
		&__socials {
			margin-right: 15px;
			margin-bottom: 15px;
			//gap: 10px;
		}
		&__buttons {
			order: 3;
		}
		&__logo {
			margin-bottom: 20px;
			width: 100%;
		}
	}
	.intro {
		&__numbers {
			font-size: 30px;
			max-width: 100px;
			&.intro__accent {
				font-size: 48px;
			}
		}
	}
	.day-tale {
		&__title {
			font-size: 20px ;
		}
	}
	.dcp {
		&__body {
			flex-direction: column-reverse;
		}
		&__picture {
			width: 100%;
			flex: 0 1 auto;
			margin-bottom: 20px;
		}
	}
	.video {
		&__body {
			gap: 30px;
			margin-bottom: 35px;
		}
		&__content {
			width: 450px;
			height: 253px;
		}
		&__description {
			p + p{
				margin-top: 15px;
			}
		}
	}
	.form {
		.flex-body {
			flex-direction: column;
			gap: 0;
		}
	}
	.footer {
		&__logo {
			margin-bottom: 20px;
		}
		&__top {
			flex-direction: column;
		}
	}
	.section-title {
		font-size: 32px;
	}
	.home-news__wrapper {
		flex-direction: column;
		gap: 20px;
	}
	.news-card {
		flex: 0 1 auto;
		&__body {
			padding: 30px 10px;
		}
	}
	.help-card {
		flex: 0 1 100%;
		max-width: none;
	}
	.header-toggle {
		overflow: scroll;
		height: 100vh;
		&__top {
			flex-wrap: wrap;
		}
		&__col {
			flex: 0 1 180px;
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 480px) {
	.header {
		&__socials {
			gap: 10px;
		}
		&__actions {
			margin-right: 15px;
		}
	}
	.intro {
		&__row {
			& + & {
				margin-top: 15px;
			}
		}
	}
	.intro-item {
		flex: 0 1 100%;
	}
	.dcp {
		&__list {
			font-size: 16px;
			li + li {
				margin-top: 15px;
			}
		}
	}
	.video {
		&__content {
			width: 300px;
			height: 168px;
		}
	}
	.dispatch {
		form {
			flex-direction: column;
		}
		&__input {
			border-radius: 20px;
			margin-bottom: 20px;
		}
		&__button {
			.btn {
				border-radius: 20px;
				font-size: 14px;
				padding: 17px 10px;
				width: 100%;
				max-width: 320px;
			}
		}
	}
	.footer {
		&__img {
			width: 70px;
		}
		&__body {
			flex-direction: column;
		}
		&__col {
			flex: 0 1 100%;
			text-align: center;
			max-width: none;
		}
		&__address {
			margin: 0 auto;
		}
	}
}